<!DOCTYPE html> 

<html> 
<head>
    <link rel="stylesheet" href="/css/styles-bantuan.css">
</head> 
    <body> 
        <div class="main-content">
            {{>header}}
             <div class="content-section">
             <h2>Apa tujuan dari aplikasi ini?</h2>
            <p>
            Aplikasi ini bertujuan untuk memberikan informasi cuaca secara real-time dan akurat berdasarkan lokasi yang dimasukkan oleh pengguna. Pengguna dapat merencanakan aktivitas sehari-hari dengan lebih baik berkat prediksi cuaca yang up-to-date.

            </p>
            <h2>Apa itu API?</h2>
            <p>
            API (Application Programming Interface) adalah antarmuka yang memungkinkan aplikasi ini untuk terhubung dan bertukar data dengan layanan lain.
            </p>
        
            <h2>API yang digunakan pada aplikasi ini</h2>
            <div class="image-container">
                <img src="/img/weathersteck.jpg" width="400px">
            </div>
            <p>
                Weatherstack API adalah layanan berbasis cloud yang menyediakan data cuaca real-time, historis, dan prediksi untuk berbagai lokasi di seluruh dunia. 
                API ini mudah diintegrasikan, menawarkan data akurat seperti suhu, kelembaban, dan kecepatan angin dalam format JSON, dan cocok untuk aplikasi pribadi atau bisnis. 
                Dengan harga terjangkau, Weatherstack menjadi pilihan populer bagi pengembang, perusahaan, dan individu yang membutuhkan informasi cuaca yang andal dan mudah diakses.
            
            </p>

            <h2>Salah satu pola arsitektur API : RESTful</h2>
            <div class="image-container">
                <img src="/img/RESTful.png" width="400px">
            </div>
            <p>
             RESTful adalah pola API yang memungkinkan aplikasi dan server berkomunikasi secara efisien menggunakan protokol HTTP.
            </p>
               Bagaimana cara aplikasi mengetahui lokasi cuaca yang saya cari?
               Saat Anda mengetikkan nama kota di aplikasi, aplikasi akan mengirimkan permintaan ke API cuaca seperti Weatherstack untuk mencari data cuaca terkini kota tersebut. 
                API ini mencocokkan nama kota dengan lokasi yang tepat, lalu mengirimkan informasi cuaca real-time, seperti suhu, kelembaban, dan kondisi cuaca. 
                Data yang diterima akan disesuaikan dengan zona waktu kota dan ditampilkan di aplikasi untuk memberi Anda informasi cuaca pada waktu itu dan hari itu juga.
            </p>
        </div>

        </div>
        <p> Created by Yola Lestari <strong>{{nama}}</strong></p>
        

    </body> 

<footer>
    
</footer>
</html>
